<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
      akka {
          actor {
              deployment {
                  /OrderActor {
                      router = smallest-mailbox-pool
                      nr-of-instances = 5
                      resizer {
                          enabled = off
                          lower-bound = 1
                          upper-bound = 10
                      }
                  }
              }
          }
      }
      ]]>
    </hocon>
  </akka>
</configuration>
