<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
      akka {
          actor {
              provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
              deployment {
                  /OrderActor {
                      remote = "akka.tcp://RemoteActor@127.0.0.1:8099"
                  }
              }
          }

          remote {
              helios.tcp {
                  port = 0
                  hostname = 127.0.0.1
              }
          }
      }
      ]]>
    </hocon>
  </akka>
</configuration>
