<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
      akka {
          persistence {
            publish-plugin-commands = on
            journal {
                plugin = "akka.persistence.journal.mongodb"
                mongodb {
                    class = "Akka.Persistence.MongoDb.Journal.MongoDbJournal, Akka.Persistence.MongoDb"
                    connection-string = "mongodb://localhost/akka"
                    collection = "EventJournal"
                }
            }
            snapshot-store {
                plugin = "akka.persistence.snapshot-store.mongodb"
                mongodb {
                    class = "Akka.Persistence.MongoDb.Snapshot.MongoDbSnapshotStore, Akka.Persistence.MongoDb"
                    connection-string = "mongodb://localhost/akka"
                    collection = "SnapshotStore"
                }
            }
      }
      ]]>
    </hocon>
  </akka>
</configuration>
